<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>
        Home
    </title>
    <link rel="stylesheet" href="/style/style.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
</head>


<body>
    <div class="topbar">
        <h1>Perum Sugan Rame</h1>
    </div>
    <div class="nav">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="/kelola-pembayaran">Pembayaran</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">
                    <p>Hallo, <%= userName %>
                    </p>
                    <i class="bi bi-person-circle icon-user-nav"></i>
                </a>
                <div class="dropdown-content">
                    <a href="<%= url %>profile">Profile</a>
                    <a href="<%= url %>login/logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="container">
        <div class="card-transaksi">
            <div class="header-transaksi">
                <h4>Pembayaran Bulan <%= waktu %> </h4>
            </div>
            <div class="header-pembayaran">
                <h4>Jumlah Pembayaran Rp. 5.000</h4>
            </div>
            <label for="metodePembayaran">Metode Pembayaran</label>
            <select name="metodePembayaran" id="metodePembayaran">
                <option value="dana">Dana</option>
                <option value="shopeepay">Shopeepay</option>
                <option value="ovo">Ovo</option>
                <option value="transfer">Transfer</option>
            </select>
            <button onclick="location.href='/done-pembayaran'" class="btn-bayar">Bayar</button>
        </div>
    </div>

</body>

</html>